.product-cards {
  width: 90vw;
  padding: 50px;
  margin: 50px;
}

/*keeps the products from 
spilling off the landing screen (contained)*/
.cards {
  display: flex;
  overflow-x: scroll;
}

.cards img{
  height: 300px;
  padding: 5px;
  margin: 8px;
  border: 1px solid black;
  box-shadow: 5px 5px 1px #DEAAFF;
}

.latest {
  font-size: 40px;
  color: #E5B3FE;
  text-shadow: 2px 2px #070707;
  padding: 10px;
  margin-top: 40px;
}

@media (max-width: 500px) {
  .product-cards {
    width: 90vw;
    padding: 20px;
    margin: 0px;
  }
  .cards {
    margin: 0 -20px;
  }
}
