/*this effects the boxes on the products screen*/
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0px 3px 1px #cecece;
  transition: 250ms all;
  padding: 20px;
  margin-bottom: 60px;
  border-color: rgb(194, 254, 255);
}

/*this effects the boxes on the products screen*/
.product:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*this changes the size of the images on the product
details screen*/
.product-image {
  display: inline-flex;
  width: 300px;
  margin: 3px;
}

.product-name {
  font-size: 24px;
  padding: 10px;
}

.price {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #e5b3fe;
  text-shadow: 2px 2px #070707;
  font-size: 25px;
  padding: 10px;
}

@media (max-width: 500px) {
  .product {
    width: 100%;
    margin-bottom: 20px;
  }
  .product-image {
    width: 180px;
    margin: 15px;
    padding: 10px;
  }
}
