/* footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
} */
footer {
  padding: 15px 5px 0px 5px;
  display: inline-block;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  background-image: linear-gradient(to bottom right, #DEAAFF, #C0FDFF);
}

footer a {
  margin: 5px;
  color: #ffaafc;
  transition: all 0.2s ease-in-out;
}
footer a:hover {
  color: #C0FDFF;
}

footer p {
  word-spacing: 2px;
  letter-spacing: 1.5px;
}

.team_links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
  text-shadow: 1px 1px #07070784
}

.copyright-yr {
  margin-top: 25px;
  color: #DEAAFF;
  text-shadow: 1px 1px #070707
}