/* footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
} */
footer {
  padding: 15px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #713fb1;
}

footer a {
  margin: 5px;
  color: #DEAAFF;
  transition: all 0.2s ease-in-out;
}
footer a:hover {
  color: #C0FDFF;
}

footer p {
  word-spacing: 2px;
  letter-spacing: 1.5px;
}

.team_links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.copyright-yr {
  margin-top: 25px;
  color: #DEAAFF;
}