@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

#form-container {
  font-family: "Fjalla One";
  display: flex;
  width: 100vw;
  height:100vh;
}
#left-side {
  background: white;
  width: 50%;
  height: 100%;
}

#left-wrapper{
  max-width: 40%;
  max-height: 40%;
  justify-content: center;
  background: #f8f4e5;
  padding: 60px 100px;
  border: 2px solid black;
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
  margin: 0 auto;
  margin-top: 50%;
}

#right-side {
  display: flex;
  justify-content: flex-end;
  right: 0;
  position: absolute;
  width: 50%;
  height: 100vh;
}

#image-sign-in {
  max-width: 50vw;
  max-height: 100vh;
}


#sign-up-gateway {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sign-in-input {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid black;
  background: #f8f4e5;
  max-width: 250px;
  padding-left: 5px;
  outline: none;
  color: black;
}

#sign-in-input:focus {
  border-bottom: 5px solid #ffa580;
}

#sign-in-button {
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px black;
}
#sign-in-button:hover {
  background: black;
  color: white;
  border: 1px solid black;
}

#sign-in-input::selection {
  background: #ffc8ff;
}

#sign-up-redirect-button {
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px black;
}