.add-item {
  display: flex;
}

.create-form {
  padding: 50px 90px 0px 90px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.input-description {
  height: 200px;
}
/* input:focus,
textarea:focus,
select:focus {
  outline: none;
} */

/* form {
  display: flex;
} */

.add-img {
  height: 100vh;
  width: 500px;
}

/* @media (max-width: 500px) {
  .create-form {
    padding-top: 150px;
  }

  input,
  textarea {
    font-size: 28px;
  }
} */
