@media (max-width: 500px) {
.home {
    padding: 100px 40px;
  }
}
#home {
  display: inline-block;
}
.blerb {
  margin-left: 80px;
}

.landing-blerb {
  background-color: white;
  padding: 20px;
  width: 300px;
  margin-top: 50px;
  border: 1px solid black;
  box-shadow: 5px 5px 1px #deaaff;
}

#shop-now {
  display: flex;
  width: 130px;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  background: #ffa580;
  letter-spacing: 2px;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px black;
}
