@media (max-width: 500px) {
  .home {
    padding: 100px 40px;
  }
}

.shop-now {
    display: block;
    margin: 0 auto;
    line-height: 28pt;
    padding: 0 20px;
    background: #FFCBF2;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    outline: none;
    border: 1px solid black;
    box-shadow: 3px 3px 1px #C8E7FF, 3px 3px 1px 1px black;
  }

 
.blerb {
 
  margin-left: 80px;
} 

.landing-blerb{
  background-color: white;
  padding: 20px;
  width: 300px;
  margin-top: 50px;
  border: 1px solid black;
  box-shadow: 5px 5px 1px #DEAAFF
}
