@media (max-width: 500px) {
  .home {
    padding: 100px 40px;
  }
}

/* .landing-page {
  display: flex;
} */
 
.blerb {
 
  margin-left: 80px;
} 

p{
  background-color: white;
  align-self: flex-end;
  padding: 20px;
  width: 300px;
  border: 1px solid black;
  box-shadow: 5px 5px 1px #DEAAFF
}
